body {
  font-family: "Roboto";
  font-weight: 400;
  background-color: #EFEFEF;
  margin-bottom: 40px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.my-simple-gallery {
  width: 100%;
  float: left;
}
.my-simple-gallery img {
  width: auto;
  height: 100%;
  opacity: 0.5;
}

.my-simple-gallery img:hover {
  opacity: 1.0;
}
.my-simple-gallery figure {
  display: block;
  float: left;
  margin: 0 0;
  height: 40px;
}
.my-simple-gallery figcaption {
  display: none;
}

.gallery-hero img {
	width: 100%;
}

.gallery {
	padding-top: 30px;
}

@media (max-width: 978px) {
    .gallery {
    	padding-top: 0px;
    }
}


/* navbar */
.navbar-default {
    background-color: #EFEFEF;
    border-color: #EFEFEF;
    padding-top: 50px;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #CF5300;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #222;
    background-color: #EFEFEF;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

.navbar-brand img {
	height: 150%;
}

.blog-post h1{
  font-family: "Cabin";
  font-weight: 700;
}

.blog-post em{
  font-size: 0.5em;
  font-style: normal;
  font-weight: 700;
  color: #666;
}

.blog-post p{
  font-size: 16px;
}

.blog-post hr{
    display: block;
    border-style: inset;
    border-width: 1px;
    opacity: 0.5;
}

.blog-post-video{
  padding-bottom: 20px;
}

.container hr{
    display: block;
    border-style: inset;
    border-width: 1px;
    opacity: 0.5;
}

video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(polina.jpg) no-repeat;
  background-size: cover;
}

.homepage-hero img {
  height: 275px;
  margin-top: 100px;
}

.contact-hero {
  padding-bottom: 30px;
  padding-top: 10px;
}

.homepage-links {
  color: #000;
  font-size: 16px;
  line-height: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.homepage-links a{
  color: #000;
}

.homepage-links a:hover{
  text-decoration: none;
  color: #CF5300;
}

.homepage-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 0.75cm;
}

.homepage-footer a{
  color: #000;
}

.homepage-footer a:hover{
  text-decoration: none;
  color: #CF5300;
}

.contact-hero a{
  color: #000;
}

.contact-hero a:hover{
  text-decoration: none;
  color: #CF5300;
}

.contact-hero a:link {
  text-decoration: none;
}